sub calendar agent.json
{
  "name": "sub calendar agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -384,
        -48
      ],
      "id": "8e56ad0a-b60f-411f-ab13-ac9d9ccaaee3",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Role\nYou are a calendar agent. Your tasks include creating, retrieving, and deleting events in the user's calendar.\n\n# Tools\n\n## getEvents\nUse this tool to retrieve calendar schedules upon request.\n\n## createEvent\nUse this tool to create a solo appointment.\n\n## updateEvent\nUse this tool to update an event. You must first use **\"getEvents\"** to retrieve the ID of the event that needs to be updated.\n\n## createEventWithAttendee\nUse this tool to schedule an event with attendees.\n\n## deleteEvent\nUse this tool to delete an event. You must first use **\"getEvents\"** to retrieve the ID of the event that needs to be deleted.\n\n# Date/Time\n**{{ $now }}**\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -176,
        -48
      ],
      "id": "b38a0155-c7a3-4257-b5fa-1cbe35be0b5e",
      "name": "AI Agent",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -336,
        208
      ],
      "id": "78da2efb-7455-48fe-ac41-bc8a211252d6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ePTTLiwYhEiCJj4H",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -192,
        176
      ],
      "id": "94b26ab7-5232-4ca6-8d90-f8052784d5cf",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "129a8fe1-3d19-4cc5-a7b7-f336b4365b4b",
              "name": "error",
              "value": "error try again",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        -16
      ],
      "id": "76c0c127-0be3-4050-9b55-7b7c8669cbf6",
      "name": "error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fc604465-d3c0-42e6-8eb8-6b6c2c7fc468",
              "name": "success",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        -192
      ],
      "id": "32ba2242-0a94-4701-8257-6424e348a876",
      "name": "success"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "natnaelm552@gmail.com",
          "mode": "list",
          "cachedResultName": "natnaelm552@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -64,
        304
      ],
      "id": "83bc2433-9059-4e58-9168-ee99ef041e75",
      "name": "createEvent",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "UOuyPh9v1bQTKzVy",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "natnaelm552@gmail.com",
          "mode": "list",
          "cachedResultName": "natnaelm552@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        208,
        336
      ],
      "id": "4aabe9b7-ae17-4156-b6e3-63a53d0bb03b",
      "name": "updateEvent",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "UOuyPh9v1bQTKzVy",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "natnaelm552@gmail.com",
          "mode": "list",
          "cachedResultName": "natnaelm552@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        80,
        288
      ],
      "id": "439a9e66-c357-4f36-bd84-758ac67aeaf3",
      "name": "getEvents",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "UOuyPh9v1bQTKzVy",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "natnaelm552@gmail.com",
          "mode": "list",
          "cachedResultName": "natnaelm552@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        336,
        304
      ],
      "id": "5a41eddb-7d2d-41c2-85af-57851e174510",
      "name": "deleteEvent",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "UOuyPh9v1bQTKzVy",
          "name": "Google Calendar account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "error": {
      "main": [
        []
      ]
    },
    "createEvent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "updateEvent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getEvents": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "deleteEvent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a6022955-ad49-4f9f-bdda-61b9fc62af4f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1754f794c53fad2bfe6db86c90811c562737e17002dd76c1e1c2eedd3f76e240"
  },
  "id": "SxGkboxFfeC8ymK7",
  "tags": []
}