tg subworkflow news.json
{
  "name": "tg subworkflow news",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -160,
        -16
      ],
      "id": "abc7d0e7-289c-4722-b428-a5f6aaf79d95",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=You are a helpful research assistant\nyou use tools to search the web , you have access to hacker news , wikipedia and the serpAPI , search tehm all or use the right one."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        32,
        -16
      ],
      "id": "d347ae2e-2c05-4f6c-8c6a-c13e36f1ef52",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        448,
        192
      ],
      "id": "f40c5502-c49a-4447-8da7-c32aff305360",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        240,
        256
      ],
      "id": "847bbc51-22a1-4eb7-825f-d686618e236e",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "mdVUXFdZP7dUjHAt",
          "name": "SerpAPI account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "all",
        "limit": 20,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hackerNewsTool",
      "typeVersion": 1,
      "position": [
        352,
        256
      ],
      "id": "510b20e7-2b3e-4dd7-83d4-8c0ab24dbb69",
      "name": "Get many items in Hacker News"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -112,
        192
      ],
      "id": "6a90f4e0-1d5b-47ca-b257-4c91ae1c6300",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ePTTLiwYhEiCJj4H",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many items in Hacker News": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bd6ca2e2-7eb8-42de-8d2a-eb2c7ee6fb0c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1754f794c53fad2bfe6db86c90811c562737e17002dd76c1e1c2eedd3f76e240"
  },
  "id": "00nm6sma1CrYXbRG",
  "tags": []
}